
 .container {
  margin-top: 11em;

  h1{
    font-size: 3em;
  }

  p {
    color: #06b6d4;
  }


 }

 .button {
  background-color: #155e75;
  width: 15em;
  height: 4em;
  border-radius: 1.5em;
  border: 2px solid #a3a3a3;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  transition: 1.5s;
}

button:hover {
  background-color: #0284c7;
}

 .icon {
   margin-left: 100px;
 }