.light {
    height: 100vh;
    width: 100vw;
      background: linear-gradient(180deg, #e5e7eb 0%, #f9fafb 100%);
      color: #000;
      transition: 6s;
  }
  
  .dark {
    height: 100vh;
    width: 100vw;
      background-color: linear-gradient(180deg, #111827 0%, #1f2937 100%);
      color: #FFF;
      transition: 6s;
  }